<h1 class="container-fluid col-md-10 offset-md-1 mt-4 mb-4 text-center"><strong>Sensors</strong></h1>
<div class="container-fluid col-md-10 offset-md-1 ">
    <table class="table table-hover table-bordered text-center mxwdth1400">
        <thead>
            <tr>
                <th scope="col" style="width: 60px;">#</th>
                <th scope="col" style="width: 145px;">MAC address</th>
                <th scope="col">Name</th>
                <th scope="col" style="width: 100px;">Status</th>
                <th scope="col" style="width: 145px;">On/Off</th>
                <th scope="col" style="width: 145px;">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sensor of sensors; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{sensor?.mac}}</td>
                <td class="text-left">{{sensor?.name}}</td>
                <td [ngSwitch]="sensor?.status">
                    <ng-template ngSwitchCase="0">
                        <a>On</a>
                    </ng-template>
                    <ng-template ngSwitchCase="1">
                        <a>Off</a>
                    </ng-template>
                    <ng-template ngSwitchCase="2">
                        <a>Error</a>
                    </ng-template>
                </td>

                <td>
                    <div [ngSwitch]="sensor?.status">
                        <ng-template ngSwitchCase="0">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn active btn-outline-success" disabled>
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> On
                                </label>
                                <label class="btn btn-outline-success" (click)="submit(sensor?.off)">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Off
                                </label>
                            </div>
                        </ng-template>
                        <ng-template ngSwitchCase="1">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-success" (click)="submit(sensor?.on)">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> On
                                </label>
                                <label class="btn active btn-outline-success" disabled>
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Off
                                </label>
                            </div>
                        </ng-template>
                        <ng-template ngSwitchCase="2">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons" disabled>
                                <label class="btn btn-outline-danger">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> On
                                </label>
                                <label class="btn btn-outline-danger">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Off
                                </label>
                            </div>
                        </ng-template>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="delete(sensor)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>